// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2019 thingy.jp.
 * Author: Daniel Palmer <daniel@0x0f.com>
 */
/dts-v1/;

#include "mstar-v7.dtsi"

/ {
	compatible = "mstar,mercury5", "mstar,chenxing-v7";
};

&miu {
	compatible = "mstar,ssc8336-miu";
};
