// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2020 thingy.jp.
 * Author: Daniel Palmer <daniel@thingy.jp>
 */
 
#include <dt-bindings/clock/mstar.h>

/ {
	#address-cells = <1>;
	#size-cells = <1>;

	memory@20000000 {
		device_type = "memory";
		reg = <0x20000000 0x4000000>;
	};

	aliases: aliases {
		spi0 = &spi_nor;
		serial0 = &pm_uart;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <0x0>;
		};
	};

	arch_timer {
		compatible = "arm,armv7-timer";
	};

	clocks: clocks {
		u-boot,dm-spl;
		u-boot,dm-preloc;
		xtal: xtal {
			u-boot,dm-spl;
			u-boot,dm-preloc;
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <24000000>;
		};

		xtal_div2: xtal_div2 {
			u-boot,dm-spl;
			u-boot,dm-preloc;
			#clock-cells = <0>;
			compatible = "fixed-factor-clock";
			clocks = <&xtal>;
			clock-div = <2>;
			clock-mult = <1>;
		};

		clk_mpll_86_div2: clk_mpll_86_div2 {
			compatible = "fixed-factor-clock";
			u-boot,dm-spl;
			u-boot,dm-preloc;
			#clock-cells = <0>;
			clocks = <&mpll MSTAR_MPLL_86>;
			clock-div = <2>;
			clock-mult = <1>;
		};

		clk_mpll_288_div2: clk_mpll_288_div2 {
			compatible = "fixed-factor-clock";
			u-boot,dm-spl;
			u-boot,dm-preloc;
			#clock-cells = <0>;
			clocks = <&mpll MSTAR_MPLL_288>;
			clock-div = <2>;
			clock-mult = <1>;
		};
	};

	soc: soc {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
		u-boot,dm-pre-reloc;

		spi_nor: spi_nor@1f001000 {
			compatible = "mstar,msc313-spinor";
			#address-cells = <1>;
			#size-cells = <0>;
			u-boot,dm-spl;
			reg-names = "reg_base", "mem_base";
			reg = <0x1f001000 0x400>, <0x14000000 0x2000000>;
			spi-half-duplex;
			spi_flash@0{
				compatible = "jedec,spi-nor";
				u-boot,dm-spl;
				reg = <0>;
			};
		};

		riu: bus@1f000000 {
			compatible = "simple-bus";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0x0 0x1f000000 0x00400000>;
			u-boot,dm-spl;
			u-boot,dm-preloc;

			pmsleep: syscon@1c00 {
				compatible = "mstar,msc313-pmsleep", "syscon";
				u-boot,dm-spl;
				u-boot,dm-preloc;
				reg = <0x1c00 0x100>;
			};

			miu: miu@202200 {
				compatible = "mstar,msc313-miu";
				u-boot,dm-spl;
				u-boot,dm-preloc;
				reg = <0x202000 100>,
				      <0x202400 100>;
				clock-names = "miupll";
				clocks = <&miupll>;
			};

			l3bridge: l3bridge@204400 {
				compatible = "mstar,l3bridge", "syscon";
				u-boot,dm-spl;
				u-boot,dm-preloc;
				reg = <0x204400 0x200>;
			};

			mpll: mpll@206000 {
				compatible = "mstar,mpll";
				u-boot,dm-spl;
				u-boot,dm-preloc;
				#clock-cells = <1>;
				reg = <0x206000 0x200>;
				clocks = <&xtal>;
				mstar,pmsleep = <&pmsleep>;
			};

			miupll: miupll@206200 {
				compatible = "mstar,miupll";
				u-boot,dm-spl;
				u-boot,dm-preloc;
				reg = <0x206200 0x200>;
				#clock-cells = <0>;
				clocks = <&xtal>;
			};

			cpupll: cpupll@206400 {
				compatible = "mstar,cpupll";
				u-boot,dm-spl;
				u-boot,dm-preloc;
				reg = <0x206400 0x200>;
				#clock-cells = <0>;
				clocks = <&mpll MSTAR_MPLL_432>;
				mstar,l3bridge = <&l3bridge>;
			};

			clkgen_mux_uart: clkgen_mux@2070c4 {
				compatible = "mstar,clkgen_mux";
				u-boot,dm-spl;
				u-boot,dm-preloc;
				reg = <0x2070c4 0x4>;
				#clock-cells = <1>;
				clock-output-names = "uart0", "uart1";
				shifts = <0>, <8>;
				mux-shifts = <2>, <10>;
				mux-widths = <2>, <2>;
				clocks = <&mpll MSTAR_MPLL_172>,
					 <&clk_mpll_288_div2>,
					 <&xtal_div2>;
			};

			pm_uart: uart@221000 {
				compatible = "snps,dw-apb-uart";
				u-boot,dm-spl;
				u-boot,dm-preloc;
				reg = <0x221000 0x200>;
				reg-shift = <3>;
				clocks = <&clkgen_mux_uart 0>;
				assigned-clocks = <&clkgen_mux_uart 0>;
				assigned-clock-parents = <&mpll MSTAR_MPLL_172>;
				/*clock-frequency = <12000000>;*/
			};
		};
	};
};
