// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2020 thingy.jp.
 * Author: Daniel Palmer <daniel@0x0f.com>
 */

#include "mstar-infinity.dtsi"

&phy {
	compatible = "ethernet-phy-idDEAD.B33F";
};

&pinctrl {
	compatible = "sstar,ssd20xd-pinctrl";
};

&emac {
	compatible = "mstar,msc313e-emac";
	reg = <0x2a2000 0x4000>,
	      <0x343c00 0x4000>;
};
