CONFIG_ARM=y
CONFIG_ARCH_MSTARV7=y
CONFIG_MSTAR_IPL=y
CONFIG_TARGET_MSTARV7=y
CONFIG_DEFAULT_DEVICE_TREE="mstar-infinity2m-ssd201"
CONFIG_OF_LIST="mstar-infinity2m-ssd201 mstar-infinity2m-ssd202d"

#CONFIG_DEBUG_LL=y
#CONFIG_DEBUG_LL_UART_8250=y
#CONFIG_DEBUG_UART_PHYS=0x1f221000
#CONFIG_DEBUG_UART_8250_SHIFT=3

#CONFIG_DEBUG_UART=y
#CONFIG_DEBUG_UART_SKIP_INIT=y

CONFIG_SPL_TEXT_BASE=0xa0000000

CONFIG_MSTAR_INFINITY2M=y

CONFIG_CMD_MTD=y
