menu "MStar/SigmaStar v7 options"
	depends on ARCH_MSTARV7

config MSTAR_IPL
	bool "u-boot is being loaded by the vendor IPL"
	imply SPI
	imply DM_SPI
	imply DM_SPI_FLASH
	imply MSTAR_MSC313SPINOR
	imply SPL_SPI_SUPPORT
	imply SPL_SPI_FLASH_SUPPORT
	imply SPL_DM_SPI
	imply SPL_DM_SPI_FLASH
	imply SPI_FLASH_WINBOND
	imply SPL_SPI_NAND_SUPPORT
	imply MTD
	imply CMD_MTDPARTS
	imply MTD_UBI
	imply CMD_UBI
	imply DM_MTD
	imply MTD_SPI_NAND
	imply SPL_MTD_SUPPORT
	imply SPL_YMODEM_SUPPORT
	imply DM_ETH
	imply MACB
	imply NET_RANDOM_ETHADDR
	imply MII
	imply PHY_MSTAR
	imply CMD_DHCP
	select SPL_STACK_R
	help
	  Say y here if you are loading u-boot via the vendor
	  IPL. Note that the image can only be 48KB or less
	  for the IPL to load it so this only really applies
	  to a SPL/TPL.

config MSTAR_BANG_BOOT0
	bool "Output a bang in boot0"
	help
	  Say y here if you are want to output a bang from
	  boot0 on pm_uart. This makes it easier to see if
	  the boot rom or IPL jumped to our code correctly
	  or not.

config MSTAR_ENABLE_JTAG_BOOT0
	bool "Enable JTAG in boot0 for debugging very early"
	help
	  Say y here if you are want to debug via JTAG very
	  early in the boot process, right after the boot rom
	  or IPL have passed control the the u-boot SPL.

config MSTAR_MSTAR_BREAK_BOOT0
	bool "break early in boot0"
	depends on MSTAR_ENABLE_JTAG_BOOT0
	help
	  Say y here if you are want a breakpoint added before
	  boot0 starts the normal u-boot startup code. This allows
	  you to setup your JTAG probe just after JTAG was enabled
	  but before a lot of code has executed.

config MSTAR_INFINITY1
	bool "infinity1 family"

config MSTAR_INFINITY2M
	bool "infinity2m family"

config MSTAR_INFINITY3
	bool "infinity3 family"

config MSTAR_INFINITY6
	bool "infinity6 family"

config MSTAR_MERCURY5
	bool "mercury5 family"

config MSTAR_PIONEER3
	bool "pioneer3 family"

choice
     prompt "Board type"

config TARGET_MSTARV7
	bool "Generic MStar/SigmaStar v7 boards"
	select MULTI_DTB_FIT
	select SPL_SPI

config TARGET_BREADBEE
	bool "Support breadbee boards"
	depends on !MSTAR_MERCURY5
	depends on !MSTAR_INFINITY2M
	select SPL_DM_SPI
	select MSTAR_INFINITY1
	select MSTAR_INFINITY3
	select DM_ETH
	select MACB
	select CMD_DHCP
	select NET_RANDOM_ETHADDR
	select MII
	select PHY_MSTAR
	select REGMAP
	select MMC
	select DM_MMC
	select MMC_MSTAR
	select CMD_MMC
	select CMD_FAT

if MSTAR_INFINITY2M
config TARGET_DONGSHANPIONE
	bool "Support DongShanPiOne"
	select MULTI_DTB_FIT
	select PINCTRL
	select PINCTRL_MSTAR
	select MMC_MSTAR
	select SPL_UBI
	select MTD_UBI_FASTMAP
	select ENV_IS_IN_UBI
	select CMD_MMC
	select CMD_GPIO
	select USB
	select USB_EHCI_HCD
	select USB_EHCI_FARADAY

config TARGET_SOM2D01
	bool "Support SOM2D01"
	select MULTI_DTB_FIT
	select PINCTRL
	select PINCTRL_MSTAR
	select MMC_MSTAR
	select SPL_SPI
	select SPL_UBI
	select MTD_UBI_FASTMAP
	select ENV_IS_IN_UBI

config TARGET_UNITV2
	bool "UnitV2"
	select MULTI_DTB_FIT
	select PINCTRL
	select PINCTRL_MSTAR
	select MMC_MSTAR
	select SPL_SPI
	select SPL_UBI
	select MTD_UBI_FASTMAP
	select ENV_IS_IN_UBI

config TARGET_MIYOOMINI
	bool "Miyoo Mini"
	select MULTI_DTB_FIT
	select PINCTRL
	select PINCTRL_MSTAR
	select MMC_MSTAR
	select SPL_SPI
endif
endchoice

endmenu

if ARCH_MSTARV7

config NR_DRAM_BANKS
	default 1

config SPL_LDSCRIPT
	default "arch/arm/mach-mstar/u-boot-spl.lds"

config SPL_TEXT_BASE
	default 0x23c00000 if MSTAR_IPL
	default 0xa0000000

# Set the text base to the bottom of DRAM + 1K before
# for any headers that might be attached to start of
# the u-boot image
config SYS_TEXT_BASE
	default 0x20001000

# Because the SRAM is pretty small we need to start using
# the DRAM for stack and heap as soon as possible.
# There is always at least 64MB of DRAM so put our new
# stack there.
config SPL_STACK_R_ADDR
	default 0x24000000
# 8MiB below that put the UBI info
config SPL_UBI_INFO_ADDR
	default 0x23800000
#

config ENV_SIZE
	default 0x2000

config ENV_OFFSET
	default 0x2000

config ENV_SECT_SIZE
	default 4096

config SYS_SPI_U_BOOT_OFFS
	default 0x20000

# For ubi we need a fair bit of heap
config SYS_MALLOC_LEN
	default 0x1000000

config SYS_MALLOC_F_LEN
	default 0x2000

config FS_FAT_MAX_CLUSTSIZE
	default 4096

config DEBUG_UART_BASE
	default 0x1f221000

config DEBUG_UART_CLOCK
	default 172000000

config DEBUG_UART_SHIFT
	default 3

config SPL_SIZE_LIMIT
	default 0xc000

config SYS_SOC
	default "mstarv7"

config SYS_LOAD_ADDR
	default 0x24000000

endif
